body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(7, 104, 7, 0.65);
}
p {
    font-family: fantasy, Arial;
    font-size: 26px;
    font-weight: bold;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#game {
    background-color: #181818;
    border: 2px solid white;
}
